body{
    font-family:"Comic Sans MS";
    font-size: 30px;
}

#h1{
    text-align: center;
}

#div{
    text-align: center;
}

.botao{
    padding: 7px;
    background-color: white;
}

.botao:hover{
    background-color: rgb(116, 117, 117);
}